.idea
.ipynb_checkpoints
Houses.csv
corpus
titanic_classifier.pickle
train_and_test2.csv
wiki-news-300d-1M.vec
history.pickle
road_sign_classifier_check_v2.h5
road_sign_classifier_final_v2.h5
toxic_tweets.ipynb
spotify_2015_2025_85k.csv
ml_project.ipynb
data/twitter_toxic_tweets.csv
numeric_regression.pickle